<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50585509789-hbljd4s18o1pu4vkntb1lcu8cffgs34q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50585509789-hbljd4s18o1pu4vkntb1lcu8cffgs34q</string>
	<key>API_KEY</key>
	<string>AIzaSyBophC-XV1YbTPqBCn6oJgoBCWu83z3h9E</string>
	<key>GCM_SENDER_ID</key>
	<string>50585509789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MusicApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-b67ac</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-b67ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50585509789:ios:4593e18f9b8c1f9cba9974</string>
	<key>DATABASE_URL</key>
	<string>https://musicapp-b67ac.firebaseio.com</string>
</dict>
</plist>